<!DOCTYPE html>
<html>
  <head>
    <title><%= title%></title>
    <link rel='stylesheet' href='css/style.css' />
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='bower_components/components-font-awesome/css/fontawesome-all.min.css' />
  </head>
  <body>

    <div><%= title%></div>
    <script type= "text/javascript" src='bower_components/bootstrap/dist/js/bootstrap.min.js' />
    <script type= "text/javascript" src='bower_components/jquery/dist/jquery.min.js' />
    <script type= "text/javascript" src='javascripts/main.js' />
  </body>
</html>
